.blog__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.blog__comments {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #5e5e5e;
}

.blog__comments__title {
    font-size: 30px;
    margin-bottom: 20px;
}

.blog__comments__container {
    padding: 40px;
}


.post {
    display: flex;
    padding: 8px;
}

.post__image__container {
    margin-right: 20px;
 }
  
  .post__image__container img {
    border-radius: 50px;
}
  
.post__right__part {
    width: 100%;
}
  
.post__content {
    display: flex;
    align-items: center;
}
  
.post__author {
    margin-right: 8px;
    font-size: 20px;
    color: rgb(59, 130, 246);
}
  
.post__text {
    font-size: 18px;
}

.post__actions {
    display: flex;
    font-size: 12px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    margin-top: 8px;
}
  
.post__action {
    margin-right: 8px;
}
  
.post__action:hover {
    text-decoration: underline;
}