.comments__container {
    padding: 5px 25px;
}

.comment {
    display: flex;
    padding: 8px;
}

.comment__image__container {
    margin-right: 20px;
 }
  
  .comment__image__container img {
    border-radius: 50px;
}
  
.comment__right__part {
    width: 100%;
}
  
.comment__content {
    display: flex;
    align-items: center;
}
  
.comment__author {
    margin-right: 8px;
    font-size: 20px;
    color: rgb(59, 130, 246);
}
  
.comment__text {
    font-size: 18px;
}

.comment__actions {
    display: flex;
    font-size: 12px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    margin-top: 8px;
}
  
.comment__action {
    margin-right: 8px;
}
  
.comment__action:hover {
    text-decoration: underline;
}