.blogs__container {
    margin: auto;
    max-width: 1500px;
    width: 100%;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 50px;
}

.blogs__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    max-width: 675px;
    width: 100%;
    border: 3px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    padding: 15px;
}

.blogs__image {
    max-width: 100%;
}