.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
  background-color: rgba(213, 213, 213, 0.553);
  height: 60px;
}
  
  .nav__item {
  text-decoration: none;
  color: #000000;
  
  &:hover {
    color: #777777;
  }
}